# PostgreSQL
POSTGRES_USER=dakhl
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=dakhl_o_kharj

# Backend
JWT_SECRET=CHANGE_ME_AT_LEAST_64_CHARACTERS_LONG_RANDOM_STRING
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=http://localhost,http://YOUR_DOMAIN_OR_IP