APP_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=ChangeMe123
POSTGRES_DB=dakhl_o_kharj

DATABASE_URL=postgresql+psycopg://postgres:ChangeMe123@localhost:5432/dakhl_o_kharj

JWT_SECRET=ChangeMeToAStrongSecret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

CORS_ORIGINS=http://localhost:3000