APP_ENV=development
DATABASE_URL=postgresql+psycopg://postgres:ChangeMe123@localhost:5432/dakhl_o_kharj
JWT_SECRET=ChangeMeToAStrongSecret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=http://localhost:3000